:root {
  --cloud-speed: 1;
}

body {
	overflow: hidden;
}

#gamearea {
	position: relative;
	border-style: solid;
	border-color: #222222;
	/*width: 500px;
	height: 400px;*/
	-webkit-transition-duration: 0.5s; /* Safari */
	transition-duration: 0.5s;
}

#mainmenu {
	position: absolute;
	height: 50%;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 2;
	-webkit-transition-duration: 0.35s; /* Safari */
	transition-duration: 0.35s;
}

#mainmenu span {
	width: 100%;
	align-content: center;
	display: flex;
	justify-content: center;
}

button {
	background-color: #555555;
	color: white;
	border: 2px solid #555555;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

#mainmenu button:hover {
	background-color: white;
	color: black;
}

.circlebutton {
	background-color: rgba(0, 0, 0, 0.15);
	color: black;
	position: absolute;
	z-index: 3;
	border-radius: 50%;
	border-color: rgb(10, 10, 10);
	width: 40px;
	height: 40px;
	margin: 0px;
	padding: 0px;
	right: 10px;
	top: 10px;
}

.circlebutton:hover {
	background-color: rgba(85, 85, 85, 0.3));
	color: white;
	border-color: rgba(256, 256, 256, 0.3);
}

.circlebuttoni {
	background-color: rgba(65, 65, 65, 0);
	color: white;
	border-color: rgba(256, 256, 256, 0.4);
	position: absolute;
	z-index: 3;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin: 0px;
	padding: 0px;
	right: 10px;
	top: 10px;
}

.circlebuttoni:hover {
	background-color: rgba(65, 65, 65, 0.4);
	/*color: black;*/
	border-color: rgb(200, 200, 200);
}

.backbutton {
	left: 10px;
}

#homebutton {
	display: none;
	left: 20px;
}

#pausebutton {
	display: none;
}

#helpbutton {
	top: 55px;
	display: none;
}

#settingsbutton {
	top: 100px;
	display: none;
}

#health {
	pointer-events: none;
	display: none;
	opacity: 0.8;
	position: absolute; 
	z-index: 2;
	left:50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	font-size: 50px;
	animation: fadeinout 4s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

#tuthelp {
	opacity: 1;
	display: none;
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 10px;
	color: white;
}

#helparea {
	opacity: 1;
	display: none;
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 10px;
	color: white;
}

#helparea h1 {
	color: white;
	text-indent: 60px;
}

#settings {
	opacity: 1;
	display: none;
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 10px;
	color: white;
}

#settings h1 {
	color: white;
	text-indent: 60px;
}

#settings p {
	line-height: 0.05em;
}

#myCanvas {
	position: relative;
	z-index: 1;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
}

.future {
	opacity: 0.6;
	cursor: not-allowed;
}

#gamearea {
	border: none;
	width: 100%;
	padding: 0px;
	margin: 0px;
	height: 100%;
}

.clearfix::after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

body {
	min-height: 100%;
	margin: 0px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.th {
	display: block;
}

#tutnextb {
	display: none;
}

#mainmenu {
	height: 100%;
}

#mainmenu h1 {
	color: #353535;
}

/* from thecodeplayer */
#clouds{
	pointer-events: none;
	visibility: hidden;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	width: 100%;
	padding: 100px 0;
	background-color:rgba(0, 0, 0, 0);
	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

/*Time to finalize the cloud shape*/
.cloud {
	visibility: visible;
	width: 200px; height: 60px;
	background: #fff;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	position: relative; 
}

#x1 {
	background-color: red;
	right: 0px;
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
	right: -410px;
	-webkit-animation: moveclouds calc(15s*var(--cloud-speed)) linear infinite;
	-moz-animation: moveclouds calc(15s*var(--cloud-speed)) linear infinite;
	-o-animation: moveclouds calc(15s*var(--cloud-speed)) linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	right: -400px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds calc(25s*var(--cloud-speed)) linear infinite;
	-moz-animation: moveclouds calc(25s*var(--cloud-speed)) linear infinite;
	-o-animation: moveclouds calc(25s*var(--cloud-speed)) linear infinite;
}

.x3 {
	right: -900px; top: -200px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds calc(20s*var(--cloud-speed)) linear infinite;
	-moz-animation: moveclouds calc(20s*var(--cloud-speed)) linear infinite;
	-o-animation: moveclouds calc(20s*var(--cloud-speed)) linear infinite;
}

.x4 {
	right: -500px; top: -250px;
	
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds calc(18s*var(--cloud-speed)) linear infinite;
	-moz-animation: moveclouds calc(18s*var(--cloud-speed)) linear infinite;
	-o-animation: moveclouds calc(18s*var(--cloud-speed)) linear infinite;
}

.x5 {
	right: -1400px; top: -150px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds1 calc(20s*var(--cloud-speed)) linear infinite;
	-moz-animation: moveclouds1 calc(20s*var(--cloud-speed)) linear infinite;
	-o-animation: moveclouds1 calc(20s*var(--cloud-speed)) linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 100%;}
	100% {margin-left: -100%;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 100%;}
	100% {margin-left: -100%;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 100%;}
	100% {margin-left: -100%;}
}

@-webkit-keyframes moveclouds1 {
	0% {margin-left: 100%;}
	100% {margin-left: calc(-500px - 100%);}
}
@-moz-keyframes moveclouds1 {
	0% {margin-left: 100%;}
	100% {margin-left: calc(-500px - 100%);}
}
@-o-keyframes moveclouds1 {
	0% {margin-left: 100%;}
	100% {margin-left: calc(-500px - 100%);}
}